.app-footer {
    display: none;
    align-items: center;
    justify-content: space-between;

    min-height: 3.5rem;

    padding: .8rem 1.5rem;
    background-color: var(--pt-white);
    border-top: 1px solid var(--border-gray);
    position: fixed;
    bottom: 0;

    .icon-wrapper {
        display: grid;
        place-items: center;
        cursor: pointer;

        &:hover {
            background-color: transparent;

            .icon {
                color: var(--pt-black2);
            }
        }
    }

    .icon-wrapper.active {

        .icon,
        h4 {
            color: var(--pt-black2);
        }
    }

    @media (max-width: 650px) {
        display: flex;
    }
}