.app-header {
    display: grid;
    grid-template-columns: inherit;
    position: sticky;
    top: 0;
    min-height: 3.5rem;
    padding: .8rem 1rem;
    background-color: var(--pt-white);
    border-bottom: 1px solid var(--border-gray);
    padding-bottom: 1em;
    padding-top: 1em;


    .inner-container {
        display: grid;
        gap: 1.5em;
        grid-template-columns: subgrid;
        grid-column: 2;

    }

    & nav {
        margin: 1fr;
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;

        font-size: .8em;



        .logo {
            font-size: 1.8em;
            align-items: center;


            img {
                width: 45px;
            }
        }



        & button {
            margin-inline-end: 0;
        }

        &.options-carusel {
            display: flex;
            gap: 24px;
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none;
            align-items: center;

            font-size: .9em;
            font-weight: 480;

            &::-webkit-scrollbar {
                display: none;
            }

            /* הגדרת בסיס: ללא מסיכה */
            transition: mask-image 0.3s ease,
            -webkit-mask-image 0.3s ease;


            --mask-left: black;
            --mask-right: black;

            &.scrolled-left {
                --mask-left: transparent;
            }

            &.scrolled-right {
                --mask-right: transparent;
            }

            /* מחילים את המסכה פעם אחת בלבד עם המשתנים */
            mask-image: linear-gradient(to right, var(--mask-left), black 10%, black 90%, var(--mask-right));
            -webkit-mask-image: linear-gradient(to right, var(--mask-left), black 10%, black 90%, var(--mask-right));

            &>* {
                cursor: pointer;
                display: flex;
                gap: .5em;
                align-items: center;
                color: var(--pt-gray);
                flex-shrink: 0;
            }



            a.active {
                color: var(--pt-black2);
            }

        }

        &.options-carusel::-webkit-scrollbar {
            display: none;

        }
    }

    .user-info {
        display: flex;
        align-items: center;
        position: relative;
        margin-inline-start: 1em;

        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 2.6em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}

.search-container {
    flex-grow: 1;
    position: relative;

    input {
        height: 39px;
        font-size: 1.1em;
        width: 100%;
        background-color: var(--input-gray);
        border-radius: 7.2px;
        border: none;
        padding: 16px 10px 16px 2.3em;
        letter-spacing: .3px;
    }

    .icon.search {
        position: absolute;
        left: 10px;
        top: 28%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        transform: scale(1.1);
    }

}




.signup-link {
    cursor: pointer;
    font-size: 1.1em;
    color: var(--pt-white);
    background-color: var(--button-blue);
    padding: 10px 16px;
    border-radius: 7.2px;
    min-width: max-content;


    &:hover {
        background-color: var(--button-blue-hover);
    }

    &:active {
        transform: scale(0.97);
    }
}


.login-link {
    cursor: pointer;
    font-size: 1.1em;
    color: var(--button-blue);
    margin-inline-start: auto;
    padding: 10px 16px;
    min-width: max-content;

    &:hover {
        background-color: var(--input-gray);
        border-radius: 7.2px;
    }
}

.user-img {
    cursor: pointer;
    /* padding: 8px; */
    margin-inline-start: 1.1em;

    &:hover {
        outline: 8px solid var(--input-gray);
    }
}

.bell {
    position: relative;
    transform: scale(1.2) translateY(1px);

}

.info-item.bell {
    padding: 8px 6px;
}

.info-item {
    cursor: pointer;
    color: var(--pt-gray);
    padding: 4px;
    border-radius: 7.2px;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin-inline: 4px;

    h5 {
        font-size: 1em;
        font-weight: 300;
        margin: 0;
    }

    .sum {
        font-size: 1.2em;
        font-weight: 600;
        color: var(--button-green-hover);
    }

    &:hover {
        background-color: var(--input-gray);

    }



}

.bell::before {
    content: '';
    position: absolute;
    display: block;
    left: 33px;
    top: 7px;
    /* width: 20px; */
    height: 23px;
    border-right: solid 1px var(--border-gray);
}

.dropdown-menu {
    position: absolute;
    top: 10px;
    right: -60px;
    background-color: var(--pt-white);
    border: 1px solid var(--border-gray);
    border-radius: 7.2px;
    display: none;
    flex-direction: column;
    min-width: 150px;
    z-index: 100;
    text-align: center;

    &.open {
        display: flex;
    }

    li>* {
        display: grid;
        place-items: center;
        margin: 5px;

        height: 40px;
        cursor: pointer;
        border-radius: 7.2px;

        &:hover {
            background-color: var(--input-gray);
        }


    }

    li:first-child a {
        height: 64px;

    }

    li:last-child a {
        color: var(--button-red-hover);
    }

    li:not(:last-child) {
        border-bottom: 1px solid var(--border-gray);
    }
}