.app-header {
    display: grid;
    position: sticky;
    top: 0;
    gap: 1.5em;
    min-height: 3.5rem;
    padding: .8rem 1rem;

    & nav {
        margin: 1fr;
        display: flex;
        width: 100%;
        align-items: end;
        gap: 1em;

        font-size: .8em;



        .logo {
            font-size: 1.8em;
            align-items: center;


            img {
                width: 45px;
            }
        }



        & button {
            margin-inline-end: 0;
        }

        &.options-carusel {
            display: flex;
            gap: 24px;
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none;
            align-items: center;

            font-size: .9em;
            font-weight: 480;

            &::-webkit-scrollbar {
                display: none;
            }

            /* הגדרת בסיס: ללא מסיכה */
            transition: mask-image 0.3s ease,
            -webkit-mask-image 0.3s ease;


            --mask-left: black;
            --mask-right: black;

            &.scrolled-left {
                --mask-left: transparent;
            }

            &.scrolled-right {
                --mask-right: transparent;
            }

            /* מחילים את המסכה פעם אחת בלבד עם המשתנים */
            mask-image: linear-gradient(to right, var(--mask-left), black 10%, black 90%, var(--mask-right));
            -webkit-mask-image: linear-gradient(to right, var(--mask-left), black 10%, black 90%, var(--mask-right));

            &>* {
                cursor: pointer;
                display: flex;
                gap: .5em;
                align-items: center;
                color: var(--pt-gray);
                flex-shrink: 0;
            }



            a.active {
                color: var(--pt-black2);
            }

        }

        &.options-carusel::-webkit-scrollbar {
            display: none;

        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}

.search-container {
    flex-grow: 1;
    position: relative;

    input {
        height: 37px;
        font-size: 1.1em;
        width: 100%;
        background-color: var(--input-gray);
        border-radius: 7.2px;
        border: none;
        padding: 16px 10px 16px 2.3em;
        letter-spacing: .3px;
    }

    .icon.search {
        position: absolute;
        left: 10px;
        top: 28%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        transform: scale(1.1);
    }

}

.border {
    border-bottom: 1px solid var(--border-gray);
    margin-top: .5em;
    position: sticky;
    top: 119px;
}


.signup-link {
    cursor: pointer;
    font-size: 1.1em;
    color: var(--pt-white);
    background-color: var(--button-blue);
    padding: 10px 16px;
    border-radius: 7.2px;
    min-width: max-content;


    &:hover {
        background-color: var(--button-blue-hover);
    }

    &:active {
        transform: scale(0.97);
    }
}


.login-link {
    cursor: pointer;
    font-size: 1.1em;
    color: var(--button-blue);
    margin-inline-start: auto;
    padding: 10px 16px;
    min-width: max-content;

    &:hover {
        background-color: var(--input-gray);
        border-radius: 7.2px;
    }
}