.app-msg {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--pt-white);
    padding: .8rem 1.2rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;

    p {
        font-size: 1.1em;
        font-weight: 400;
        margin: 0;
    }

    &.success {
        color: var(--pt-white);
        background-color: var(--button-green-hover);
    }

    &.error {
        color: var(--pt-white);
        background-color: var(--button-red-hover);
    }
}