.modal {

    width: 400px;
    height: content;
    background-color: var(--pt-white);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    padding: 2em;
    z-index: 1000;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2em;

    input {
        padding: 0.8em;
        border-radius: 7.2px;
        border: 1px solid var(--border-gray);
        width: 200px;
        height: 50px;
    }

    .inputs-container {
        align-items: center;
        gap: 1em;
    }
}

.overlay {

    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1000;
}


.radix-trigger {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.8em;
    border-radius: 7.2px;
    border: 1px solid var(--border-gray);
    background-color: var(--pt-white);
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    font-size: .8em;
}

.radix-trigger:focus {
    border-color: var(--button-blue);
    box-shadow: 0 0 0 1px var(--button-blue);
}

/* התפריט שנפתח */
.radix-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--border-gray);
    z-index: 1100;
    min-width: 100px;

}

.radix-item {
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    margin: 4px;
}

.radix-item:hover,
.radix-item:focus {
    background-color: var(--input-gray);
    /* color: white; */
}

.radix-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.radix-trigger[data-state='open'] .radix-icon {
    transform: rotate(180deg);
}

.radix-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--border-gray);
    z-index: 1100;
    min-width: 100px;

    animation: slideDown 0.2s ease-out;
}

.modal input:focus {
    outline: 2px solid var(--input-gray);
}

.radix-trigger:focus {
    outline: none;
    border-color: var(--border-gray);
    box-shadow: 0 0 0 0 var(--border-gray);
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* confirmation Modal */

.delete-modal,
.transaction-modal {
    background-color: var(--pt-white);
    height: max-content;
    padding: 2em;
    border-radius: 15.2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    place-content: center;

    span {
        font-family: 'izmir-bold';
    }
}




.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: react-confirm-alert-fadeIn 0.1s;

}

.react-confirm-alert-body {
    width: auto;
    background: transparent;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalEntry {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(10px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.react-confirm-alert-overlay {
    backdrop-filter: blur(2px);
    animation: fadeIn 0.2s ease-out forwards;
}

.delete-modal,
.transaction-modal {
    animation: modalEntry 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;

    background: white;
    border-radius: 1.5em;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}