@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter_24pt-ExtraLight.ttf) format("truetype");
    font-weight: 500;
}


.inter-font-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 490;
    font-style: bold;
}

@font-face {
    font-family: "izmir-light";
    src: url(../fonts/Izmir/Izmir-Light.otf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "izmir";
    src: url(../fonts/Izmir/Izmir-Regular.otf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "izmir-medium";
    src: url(../fonts/Izmir/Izmir-Medium.otf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "izmir-semibold";
    src: url(../fonts/Izmir/Izmir-Semibold.otf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "izmir-bold";
    src: url(../fonts/Izmir/IzmirNarrow-Bold.otf) format("truetype");
    font-weight: 500;
}