@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter_24pt-ExtraLight.ttf) format("truetype");
    font-weight: 500;
}


.inter-font-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 490;
    font-style: bold;
}