ul.filter-carusel {
    margin: 1fr;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    /* font-size: .8em; */
    font-family: izmir;



    display: flex;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 10px;

    white-space: nowrap;
    scrollbar-width: none;
    align-items: center;

    font-size: .9em;
    font-weight: 480;

    &::-webkit-scrollbar {
        display: none;
    }

    transition: mask-image 0.3s ease,
    -webkit-mask-image 0.3s ease;


    --mask-left: black;
    --mask-right: black;

    &.scrolled-left {
        --mask-left: transparent;
    }

    &.scrolled-right {
        --mask-right: transparent;
    }

    mask-image: linear-gradient(to right, var(--mask-left), black 10%, black 90%, var(--mask-right));
    -webkit-mask-image: linear-gradient(to right, var(--mask-left), black 10%, black 90%, var(--mask-right));

    &>* {
        cursor: pointer;
        display: flex;
        gap: .5em;
        align-items: center;
        color: var(--pt-gray);
        flex-shrink: 0;
    }


    li:hover {
        color: var(--pt-black2);
    }

    li.active {
        color: var(--button-blue-hover);
        background-color: var(--button-blue-light);
        padding: .5em 0.6em;
        border-radius: 7.2px;

    }

}


.filter-carusel::-webkit-scrollbar {
    display: none;

}

.event-filter h3 {
    margin-top: 0.6em;
}