ul.filter-carusel {
    margin: 1fr;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    /* font-size: .8em; */
    font-family: izmir;



    display: flex;
    gap: 1.5em;
    overflow-x: auto;
    padding-bottom: 10px;

    white-space: nowrap;
    scrollbar-width: none;
    align-items: center;

    font-size: .9em;
    font-weight: 480;

    &::-webkit-scrollbar {
        display: none;
    }

    transition: mask-image 0.3s ease,
    -webkit-mask-image 0.3s ease;


    --mask-left: black;
    --mask-right: black;

    &.scrolled-left {
        --mask-left: transparent;
    }

    &.scrolled-right {
        --mask-right: transparent;
    }

    mask-image: linear-gradient(to right, var(--mask-left), black 10%, black 90%, var(--mask-right));
    -webkit-mask-image: linear-gradient(to right, var(--mask-left), black 10%, black 90%, var(--mask-right));

    &>* {
        cursor: pointer;
        display: flex;
        gap: .5em;
        align-items: center;
        color: var(--pt-gray);
        flex-shrink: 0;
    }


    li:hover {
        color: var(--pt-black2);
    }

    li.active {
        color: var(--button-blue-hover);
        background-color: var(--button-blue-light);
        padding: .5em 0.6em;
        border-radius: 7.2px;

    }

}


.filter-carusel::-webkit-scrollbar {
    display: none;

}

.filter-icons {
    display: flex;
    font-size: 1.3em;
    gap: 8px;

    >* {
        height: 35px;
    }

    >*:hover {
        background-color: var(--border-gray);
        /* outline: var(--border-gray) solid 5px; */
        border-radius: 7.2px;
        cursor: pointer;

        &:hover {
            color: var(--pt-black2);
            background-color: var(--border-gray);
        }
    }
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 7.2px;

    &:hover {
        color: var(--pt-black2);
        background-color: var(--border-gray);
    }
}

.filter-icons .search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 30px;
    transition: width .5s ease;
    overflow: hidden;

    input {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0;
        border: 1px solid var(--border-gray);
        border-radius: 7.2px;
        background-color: var(--input-gray);
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease;
        height: 35px;

    }

    input:focus {
        outline: 1px solid var(--border-gray);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: var(--input-gray);
    }

    .search-icon {
        z-index: 1;
        position: absolute;
        left: 5px;
    }


    &.open {
        width: 200px;

        &:hover {
            background-color: transparent;
            outline: none;
        }

        input {

            opacity: 1;
            padding-inline-start: 2.1em;
            pointer-events: auto;
        }



        .search-icon {
            z-index: 1;
            left: 5px;
            color: var(--pt-gray);
        }
    }
}